form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: min(500px, 100%);
    flex-wrap: wrap;
}

form > * {
    display: flex;
    flex-direction: column;
}

form > * > select, form > * > input, form button {
    border: 1px solid var(--blue_shadow);
    padding: 0.2rem;
    border-radius: 3px;
    background-color: var(--funktionalOverlay);
    height: 2rem;
}

.btn-group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.2rem;
}

button {
    background-size: 200%;
    background-position: 0;
    transition: all .3s;
}

button.active {
    background-position: 100%;
    box-shadow: inset 1px 2px 3px #777;
    transform: translateY(1px);
}

button.zone {
    background-image: linear-gradient(to right, transparent, transparent 20%, var(--c-zone));
}

button.fokus {
    background-image: linear-gradient(to right, transparent, transparent 20%, var(--c-focus));
}

button.routine {
    background-image: linear-gradient(to right, transparent, transparent 20%, var(--c-routine));
}

