form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
}

form > * {
    display: flex;
    flex-direction: column;
}

form > * > select, form > * > input {
    border: 1px solid var(--blue_shadow);
    padding: 0.2rem;
    border-radius: 3px;
    background-color: var(--funktionalOverlay);

}