.day {
    background-color: var(--funktionalOverlay);
    padding: 0.5rem;
    max-width: min(100%,500px);
}

.day header h2 {
    display: flex;
    flex-direction: column;
    position: relative;
    width:100%;
}

.day.today header h2::after {
    content:"";
    display: block;
    position: absolute;
    right:0;
    background-color: var(--blue_light);
    background-image: url("../img/star.png");
    background-size:70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--white);
    border-radius: 50%;
    width:2em;
    height:2em;
}