@media (min-width: 1000px) {
    .week {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .week > * {
        margin-left: 0.5em;
    }
}

.week > * {
    margin-bottom: 0.5em;
    background-color: var(--funktionalOverlay);
    padding: 0.5rem;
}

.week header h2 {
    display: flex;
    flex-direction: column;
}